# Site settings
title: "にゃんこのお手軽エンジニアリング"
tagline: "気軽に始めるアプリ開発の小部屋 -低予算開発-"
email: aunet041@gmail.com
description: "低予算でのWeb開発手法やお手軽アプリ開発のコツ、便利なツールの紹介など、にゃんこ目線で気軽にエンジニアリングを楽しむブログです。"
baseurl: ""
url: "https://aux10a.github.io/engineer-blog/" # 本番用URLに変更してください
author:
  name: "管理人"
  email: "aunet041@gmail.com"

# SEO settings
twitter:
  username: your-twitter-handle
  card: summary_large_image
facebook:
  app_id: your-fb-app-id
  publisher: your-fb-page-url
social:
  name: にゃんこのお手軽エンジニアリング
  links:
    - https://twitter.com/your-twitter-handle
    - https://www.facebook.com/your-facebook-page

# Build settings
theme: jekyll-theme-minimal
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Custom settings
show_downloads: false
google_analytics: # あなたのGoogle AnalyticsのID

# Category Display Names
category_names:
  dev-tips: "開発Tips"
  app-reviews: "アプリケーションレビュー"
  my-projects: "個人開発プロジェクト"
  tech-tutorials: "技術チュートリアル"
  cost-saving: "低予算開発のノウハウ"

# Collections
collections:
  reviews:
    output: true
    permalink: /reviews/:path/

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      image: /assets/images/default-ogp.jpg
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
      author: "管理人"
      comments: true
      image: /assets/images/default-ogp.jpg
  - scope:
      path: "categories"
    values:
      layout: category
      image: /assets/images/category-ogp.jpg

# Exclude from processing.
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
