---
layout: default
---

<div class="column-inner">
  <div class="column-inner">
    <div class="column-inner-2">
      <h1>{{ page.title }}</h1>
      <p class="category-description">{{ page.description }}</p>
      
      <div class="category-nav">
        {% for category in site.category_names %}
          {% capture category_url %}/categories/{{ category[0] }}/{% endcapture %}
          <a href="{{ category_url | relative_url }}"
             class="tag{% if page.category == category[0] %} active{% endif %}"
             {% if page.category == category[0] %}aria-current="page"{% endif %}>
            {{ category[1] }}
          </a>
        {% endfor %}
      </div>

      <div class="post-list" itemscope itemtype="http://schema.org/Blog">
        {% for post in site.categories[page.category] %}
          <a href="{{ post.url | relative_url }}" class="post-card-link" itemprop="url">
            <div class="post-card" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
              <h3 itemprop="headline">{{ post.title }}</h3>
              <div class="post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                  {{ post.date | date: "%Y年%m月%d日" }}
                </time>
              </div>
              {% if post.description %}
                <p itemprop="description">{{ post.description }}</p>
              {% endif %}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
